@model IEnumerable<ResearchProject.Models.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<span class="Add">
    <img decoding="async" src="@("~/img/add.png")" asp-append-version="true" />
    <a asp-action="Create" class="btn btn-Add">Upload Document</a>
</span>



    <table class="table ">
        <thead>
            <tr>
                <th scope="col" style="width: 25%;">Document</th>
                <th scope="col" style="width: 15%;">Upload Date</th>
                <th scope="col" style="width: 40%; margin-right:40px; padding-left: 250px;">Action</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var document in Model)
            {
                <tr class="Document">
                    <td>@document.DocumentName</td>
                    <td>@document.UploadDate.ToString("yyyy-MM-dd")</td>
                <td class="Acction"  style="  padding-left: 100px;">
                        <span class="download">
                            <img decoding="async" src="@("~/img/download.png")" asp-append-version="true" />
                            <a href="@Url.Action("Download", "Documents", new { id = document.Id })" class="btn btn-download">Download</a>
                        </span>
                        <span class="delete">
                            <img decoding="async" src="@("~/img/delete.png")" asp-append-version="true" />
                            @*<a asp-action="Delete" asp-route-id="@document.Id" class="btn btn-delete">Delete</a>*@
                            <form asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@document.Id" />
                                <button type="submit" class="btn btn-delete">Delete</button>
                            </form>


                        </span>
                    </td>

                </tr>
            }
        </tbody>
    </table>






<style>
    .Add {
        display: inline-block;
        background-color: #67BF7F;
        border-radius: 10px;
        margin: 40px 0 20px 280px;
        width: 240px;
        height:50px;
        
    }
        .Add img {
            margin: 10px 10px 0 10px;
            height: 20px;
            width: 20px;
        }

        .Add a {
            padding-top: 12px;
        }
    .Document{
        margin-top:20px;
    }
    .Acction{
        display: flex;
    }

    
   .download{
        display: flex;
        background-color: #00AE72;
        border-radius: 10px;
        margin: 5px;
        width: 170px;
       
   }
        .download img{
            margin: 10px 10px 0 10px;
            height: 20px;
            width: 20px;
        }
       
   .delete{
        display: flex;
        background-color: #F9CC76;
        border-radius: 10px;
        margin: 5px;
        width: 140px;
    }
        .delete img{
            margin: 10px 10px 0 10px;
            height: 20px;
            width: 20px;
        }
</style>
<script>
  

</script>