@model ResearchProject.Models.Invitation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Invitation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SenderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceiverId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRejected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRejected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
